            <div class="card w-100 border border-primary">
                <div class="card-header text-white bg-primary">
                    Registro de Alumno
                    <button class="close" aria-label="Close" id="btnCerrarAlumnos">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="card-body">
                    <form class="form-inline" method="GET" id="frmAlumno" name="frmAlumno" data-idalumno="0">

                    <table class="table table-sm table-borderless" id="tblAlumno" align="center" cellspacing="0" cellpadding="5" border="0">
                        <tbody>
                            <tr>
                                <td width="200">CODIGO: </td>
                                <td width="200"><input class="form-control" type="text" id="txtCodigoAlumno" name="txtCodigoAlumno" size="10" placeholder="USLC000000" required pattern="[A-Z0-9]{10}" ></td>
                            </tr>
                            <tr>
                                <td width="200">NOMBRE: </td>
                                <td width="200"><input class="form-control" placeholder="dime tu nombre" required pattern="[A-Za-zÑñ ]{3,75}" type="text" id="txtNombreAlumno" name="txtNombreAlumno" size="40" ></td>
                            </tr>
                            <tr>
                                <td width="200">DIRECCION: </td>
                                <td width="200"><input class="form-control" pattern="[A-Za-z0-9Ññ#,. ]{5,100}" placeholder="donde vives" required type="text" id="txtDireccionAlumno" name="txtDireccionAlumno" size="40" ></td>
                            </tr>
                            <tr>
                                <td width="200">TELEFONO: </td>
                                <td width="200"><input class="form-control" pattern="[0-9]{4}-[0-9]{4}" placeholder="0000-0000" type="text" id="txtTelefonoAlumno" name="txtTelefonoAlumno" size="10" ></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2" width="400">
                                    <span id="spnRespuestaAlumno"></span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center" width="400">
                                    <input class="btn btn-primary" type="submit" value="Guardar">
                                    <input class="btn btn-warning" type="reset" value="Limpiar">
                                </td>
                            </tr>
                        </tfoot>
                    </table> 
                </form>
            </div>
        </div>
        <script type="text/javascript" src="js/alumnos.js"></script>
        <script type="text/javascript" src="js/buscar_alumnos.js"></script>
    