<div class="card w-450 border border-primary">
    <div class="card-header text-white bg-primary">
        Buscar Alumnos...
        <button class="close" aria-label="Close" id="btnCerrarBusquedaAlumnos">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">            
        <form class="form-inline" method="get" id="frmBusquedaAlumnos" name="frmBusquedaAlumnos">
            <table class="table table-sm tatable-bordered table-hover" id="tblBusquedaAlumnos" cellpadding="5" cellspacing="0" border="1" align="center">
                <thead class="table-primary" >
                   <tr>
                       <td colspan="5">
                           Buscar Por:
                           <select class="form-control" name="cboBuscarAlumno" id="cboBuscarAlumno">
                               <option value="codigo">CODIGO</option>
                               <option value="nombre" selected>NOMBRE</option>
                           </select>
                           <input class="form-control" autofocus type="text" name="txtValorAlumno" id="txtValorAlumno">
                       </td>
                   </tr>
                    <tr>
                        <th>CODIGO</th>
                        <th>NOMBRE</th>
                        <th>DIRECCION</th>
                        <th>TEL</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </form>
    </div>
</div>
<script type="text/javascript" src="js/buscar_alumnos.js"></script>