<div class="card w-450 border border-primary" id="appBusquedaMaterias">
    <div class="card-header text-white bg-primary">
        Buscar Materias...
        <button class="close" aria-label="Close" id="btnCerrarBusquedaMaterias">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">            
        <form class="form-inline" method="get" id="frmBusquedaMaterias" name="frmBusquedaMaterias">
            <table class="table table-sm tatable-bordered table-hover" id="tblBusquedaMaterias" cellpadding="5" cellspacing="0" border="1" align="center">
                <thead class="table-primary" >
                   <tr>
                       <td colspan="5">
                           Buscar Por:
                           <select v-model="buscar.opcion" class="form-control" name="cboBuscarAlumno" id="cboBuscarAlumno">
                               <option value="codigo">CODIGO</option>
                               <option value="nombre" selected>NOMBRE</option>
                           </select>
                           <input v-on:keyup="buscarMaterias" v-model="buscar.valor" class="form-control" autofocus type="text" name="txtValorAlumno" id="txtValorAlumno">
                       </td>
                   </tr>
                    <tr>
                        <th>CODIGO</th>
                        <th>NOMBRE</th>
                        <th>UV</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="materia in materias">
                        <td>{{ materia.codigo }}</td>
                        <td>{{ materia.nombre }}</td>
                        <td>{{ materia.uv }}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<script type="text/javascript" src="js/buscar_materias.js"></script>