<div class="card w-100 border border-primary" id="appChat">
    <div class="card-header text-white bg-primary">
        Chat 
        <button class="close" aria-label="Close" id="btnCerrarChat">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <form class="form-inline" v-on:submit.prevent="enviarMessage">
            <section id="messenger">
                <ul v-for="msg in msgs" class="messages" id="messages">
                    <li>Mensaje: {{ msg }}</li>
                </ul>
                <ul id="frmMessages" class="form-msg">
                    <input v-model="msg" placeholder="Escribe en mensaje aqui..." type="text" class="form-control">
                    <input type="submit" value="Enviar" class="btn btn-success">
                </ul>
            </section>
        </form>
    </div>
</div>
<script type="text/javascript" src="js/chat.js"></script>