<div class="card w-100 border border-primary" id="appMaterias">
    <div class="card-header text-white bg-primary">
        Registro de Materias
        <button class="close" aria-label="Close" id="btnCerrarMaterias">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <form v-on:submit.prevent="guardarMaterias" class="form-inline" id="frmMaterias" name="frmMaterias">
            <table align="center" cellspacing="0" cellpadding="5" class="table table-sm table-borderless">
                <tbody>
                    <tr>
                        <td width="200">CODIGO:</td>
                        <td width="250">
                            <input v-model="materias.codigo" type="text" size="8" class="form-control" required>
                        </td>
                    </tr>
                    <tr>
                        <td width="200">Nombre: {{ materias.nombre }}</td>
                        <td width="250">
                            <input v-model="materias.nombre" type="text" size="20" class="form-control" required>
                        </td>
                    </tr>
                    <tr>
                        <td width="200">UV:</td>
                        <td width="250">
                            <input v-model="materias.uv" type="text" size="6" class="form-control" required>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td width="450" colspan="2" align="center">
                            <input type="submit" value="Guardar" class="btn btn-primary">
                            <input type="reset" value="Limpiar" class="btn btn-danger">
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>
<script type="text/javascript" src="js/materias.js"></script>